# Base Python: Read and write files

### 1. Open a txt file named 'Hello world' and write all elements of the list x in newlines, then open that file and print all lines in the file

```python
x = ['Python is flexible','but', 'Python is slow!']
```

# Pandas is built on Numpy

In [80]:
import pandas as pd

## Pandas can read:

1. CSV (Comma-Separated Values)
    - Function: pd.read_csv()
    - Description: CSV files are simple text files where data is separated by commas (or other delimiters).
    - Example: df = pd.read_csv('data.csv')
2. Excel Files (XLSX/XLS)
    - Function: pd.read_excel()
    - Description: Pandas can read from both .xlsx (Excel 2007+) and .xls (older Excel formats).
    - Example: df = pd.read_excel('data.xlsx', sheet_name='Sheet1')
3. JSON (JavaScript Object Notation)
    - Function: pd.read_json()
    - Description: JSON files can store structured data as key-value pairs, often used in web applications.
    - Example: df = pd.read_json('data.json')
4. SQL Databases
    - Function: pd.read_sql(), pd.read_sql_query(), pd.read_sql_table()
    - Description: Pandas can read data from SQL databases such as SQLite, PostgreSQL, MySQL, etc.
    - Example: Query: df = pd.read_sql_query('SELECT * FROM table_name', connection), Full Table: df = pd.read_sql_table('table_name', connection)
5. XML Files
    - Function: pd.read_xml()
    - Description: XML is a markup language commonly used for data exchange. Pandas can read XML and convert it into a DataFrame.
    - Example: df = pd.read_xml('data.xml')
6. Plain Text Files
    - Function: pd.read_fwf() (for fixed-width formatted files), pd.read_csv('',delimiter='') (for delimited text files)
    - Description: Text files with either fixed-width columns or custom delimiters.
    - Example: df = pd.read_fwf('data.txt')
7. Compressed Files
    - Function: pd.read_csv(), pd.read_json(), pd.read_parquet(), etc. (with compression specified)
    - Description: Pandas can automatically handle compressed files such as .gz, .bz2, .zip, .xz.
    - Example: df = pd.read_csv('data.csv.gz')
      
AND MUCH MORE...

In [ ]:
df = pd.read_csv('Health_Sleep_Statistics.csv')
y = pd.read_csv('SampleSuperstore.csv')
df.tail(3)
df.head(4)

df.columns
df[['Age','User ID']].head(2) #[0:3]
df.iloc[0:4,1] # df.iloc[r,c]

df.loc[df['Gender']== 'f'].head(3)

df.loc[df['Bedtime']== '23:00']
df.describe().round()
df

## Exercises

### 1. Load the CSV file and display the first 10 rows of the dataset. Then, print the summary statistics of the Daily Steps and Calories Burned columns

In [95]:
import pandas as pd
df = pd.read_csv('Health_Sleep_Statistics.csv')
df.head(10)
df[['Daily Steps', 'Calories Burned']].describe().round(2)

       Daily Steps  Calories Burned
count       100.00           100.00
mean       6830.00          2421.00
std        2498.71           281.07
min        3000.00          2000.00
25%        4750.00          2175.00
50%        6750.00          2400.00
75%        9000.00          2700.00
max       11000.00          2900.00

In [88]:
f = pd.unique(df['Gender'])
print(f,type(f))

['f' 'm'] <class 'numpy.ndarray'>

### 2. Filter the dataset to find users who have a sleep quality score below 3 and burn more than 2500 calories per day. Display their User ID, Age, and Sleep Quality

In [ ]:
filtered_df = df[(df['Sleep Quality']>3) & (df['Calories Burned']>2500)]
filtered_df[['User ID','Age','Sleep Quality']]

### 3. Create a new column called Sleep Duration that calculates the duration of sleep in hours using the Bedtime and Wake-up Time columns. Assume these columns are in 24-hour format (e.g., "22:30", "06:45")

In [135]:
# Convert Bedtime and Wake-up Time to datetime objects (with seconds included)
df['Bedtime'] = pd.to_datetime(df['Bedtime'], format='%H:%M:%S')
df['Wake-up Time'] = pd.to_datetime(df['Wake-up Time'], format='%H:%M:%S')

# Subtract and calculate sleep duration in hours
df['Sleep Duration'] = (df['Wake-up Time'] - df['Bedtime']).dt.total_seconds() / 3600
df.loc[df['Sleep Duration'] <= 0, 'Sleep Duration'] = df['Sleep Duration'] + 24
# Handle cases where bedtime is after midnight
#df['Sleep Duration'] = df['Sleep Duration'].apply(lambda x: x if x > 0 else x + 24)

print(df.head(3))

   User ID  Age Gender  Sleep Quality             Bedtime        Wake-up Time  \
0        1   25      f              8 1900-01-01 23:00:00 1900-01-01 06:30:00
1        2   34      m              7 1900-01-01 00:30:00 1900-01-01 07:00:00
2        3   29      f              9 1900-01-01 22:45:00 1900-01-01 06:45:00

   Daily Steps  Calories Burned Physical Activity Level Dietary Habits  \
0         8000             2500                  medium        healthy
1         5000             2200                     low      unhealthy
2         9000             2700                    high        healthy

  Sleep Disorders Medication Usage  Sleep Duration
0              no               no             7.5
1             yes              yes             6.5
2              no               no             8.0

### 4. Find the user with the maximum physical activity level and display their User ID, Daily Steps, Calories Burned, and Physical Activity Level.

In [ ]:
# Find the row with the maximum Physical Activity Level
max_activity_user = df.loc[df['Physical Activity Level'].idxmax()]

# Display User ID, Daily Steps, Calories Burned, and Physical Activity Level
print(max_activity_user[['User ID', 'Daily Steps', 'Calories Burned', 'Physical Activity Level']])

### 5. Group the users by Gender and calculate the average Daily Steps and Calories Burned for each gender

In [ ]:
# Group by Gender and calculate the mean of Daily Steps and Calories Burned
gender_group = df.groupby('Gender')[['Daily Steps', 'Calories Burned']].mean()

print(gender_group)

### 6. Check if there are any missing values in the dataset and fill them with appropriate values. For numeric columns, fill with the column mean, and for categorical columns, fill with the mode

In [ ]:
# Check for missing values
print(df.isnull().sum())

# Fill numeric columns with mean and categorical columns with mode
for column in df.columns:
    if df[column].dtype == 'object':
        df[column].fillna(df[column].mode()[0], inplace=True)
    else:
        df[column].fillna(df[column].mean(), inplace=True)

# Check if missing values are filled
print(df.isnull().sum())

### 7. Add a column called Age Group that categorizes users into Young (0-30), Middle-aged (31-60), and Senior (60+) based on their age

In [ ]:
# Check for missing values
print(df.isnull().sum())

# Fill numeric columns with mean and categorical columns with mode
for column in df.columns:
    if df[column].dtype == 'object':
        df[column].fillna(df[column].mode()[0], inplace=True)
    else:
        df[column].fillna(df[column].mean(), inplace=True)

# Check if missing values are filled
print(df.isnull().sum())

### 8. Identify the users who report taking medication and have a Sleep Disorder. Display their User ID, Age, and Medication Usage

In [ ]:
# Filter users with Medication Usage and Sleep Disorders
med_sleep_disorder_users = df[(df['Medication Usage'] == 'Yes') & (df['Sleep Disorders'] == 'Yes')]

# Display User ID, Age, and Medication Usage
print(med_sleep_disorder_users[['User ID', 'Age', 'Medication Usage']])

### 9. Calculate the total Calories Burned by each Age Group (from the column you created in question 7)

In [ ]:
# Group by Age Group and calculate total Calories Burned
calories_by_age_group = df.groupby('Age Group')['Calories Burned'].sum()

print(calories_by_age_group)

### 10. Sort the dataset by Physical Activity Level in descending order and display the top 5 users by Physical Activity Level, along with their User ID, Daily Steps, and Calories Burned

In [ ]:
# Sort the dataset by Physical Activity Level in descending order
sorted_df = df.sort_values(by='Physical Activity Level', ascending=False)

# Display the top 5 users by Physical Activity Level
print(sorted_df[['User ID', 'Daily Steps', 'Calories Burned']].head(5))